.bloglink{
	text-decoration: none;
	display: block;
	color: #212121;
}

.bloglink:hover{

	color: #727272;
}

.left_sidebar{
	display:inline-block;
	vertical-align:top;
	width:300px;
}

.blogpost{
	display:inline-block;
	width: 800px;
}

.blog_title{
	font-size:2em;
	margin-top:10px
}


.blog_subtitle{
	margin-top:-35px;

}

.blog_date{
	margin-top: -20px;
}